<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><p><%= task.completed %>  <%= link_to "#{task.title}", "tasks/#{task.id}" %>
    <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{task.title}?"} %></p></li>
  <% end %>
</ul>
<br>
<p><%= link_to "add a new task", 'tasks/new' %></p>
